name: Exploring variables and secrets

on:
    push

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Docker build
      env:
        CONTAINER_REGISTRY: docker.io
        DOCKER_USERNAME: siddharth1
        IMAGE_NAME: github-actions-nginx
      run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

    - name: Docker login
      env:
        DOCKER_PASSWORD: s3sUrePaSsword
        DOCKER_USERNAME: siddharth1
      run: echo docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD
      
    - name: Docker Publish
      env:
        CONTAINER_REGISTRY: docker.io
        DOCKER_USERNAME: siddharth1
        IMAGE_NAME: github-actions-nginx
      run: echo docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

  deploy: 
    needs: docker
    runs-on: ubuntu-latest
    steps:
    - name: Docker run
      env:
        CONTAINER_REGISTRY: docker.io
        DOCKER_USERNAME: siddharth1
        IMAGE_NAME: github-actions-nginx
      run: docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest