name: Exploring variables and secrets

on:
    push

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Docker build
      run: docker build -t docker.io/dockerUsername/imageName:latest

    - name: Docker login
      run: docker login --username=dockerUsername --password=s3sUrePaSsword
      
    - name: Docker Publish
      run: docker push docker.io/dockerUsername/imageName:latest

  deploy: 
    needs: docker
    runs-on: ubuntu-latest
    steps:
    - name: Docker run
      run: docker run -d -p 8080:80 docker.io/dockerUsername/imagename:latest